a:link {
	color: #F6F8FF;
	text-decoration: none;
}

a:visited {
	color: #F6F8FF;
	text-decoration: none;
}

a:hover {
	color: #F6F8FF;
	text-decoration: none;
}

a:active {
	color: #F6F8FF;
	text-decoration: none;
}